<p>desktop works!</p>
<button class="btn btn-primary" id="button-1" (click)="onCreateServer()" [disabled]="!allowNewServer">Add Contact</button>
<p>{{serverC}}</p>

<hr>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="serName">
<!-- <p>{{serName}}</p> -->

<hr>
<p *ngIf="serverCreated">Server was created name is {{serName}}</p>
<ng-template #noServer; else noServer>
  <p>No server created</p>
</ng-template>

<app-contact *ngFor="let server of servers"></app-contact>